.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.card {
  
  padding: 20px;
  height: 800px;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0px 7px 11px rgb(230, 90, 25);
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  cursor: pointer;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  clip-path: circle(420px at center 0);
  text-align: center;
}
.card-more a{
  color:#F57C00;
  font-weight: 300;
}
.card-content h3 {
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: aliceblue;
}

.card-content h3:hover {
  color: #F57C00;
}

.card-content p {
  font-size: 1.1rem;
  line-height: 1.2;
  margin-bottom: 10px;
  color: aliceblue;
}

.card-content a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0077ff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.card-content a:hover {
  background-color: #0066cc;
}


@media screen and (max-width: 963px) {
  .card-list{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .card{
    height: 560px;
    width: 200px;
  }
  .card-content h3{
  font-size: 15px;    
  }

  .card-content p{
    font-size: 10px;
  }
  .card img{
    clip-path: circle(200px at center 0);
  }
}

@media screen and (max-width: 548px) {
  .card-list{
    margin-left: 10vw;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .card{
    height: 700px;
    width: 300px;
  }
  .card-content h3{
  font-size: 20px;    
  }

  .card-content p{
    font-size: 15px;
  }
  .card img{
    clip-path: circle(350px at center 0);
  }
}

@media screen and (max-width: 398px) {
  .card-list{
    margin-left: 8vw;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .card{
    height: 700px;
    width: 80vw;
  }
  .card-content h3{
  font-size: 20px;    
  }

  .card-content p{
    font-size: 15px;
  }
  .card img{
    clip-path: circle(350px at center 0);
  }
}